body
{
	background-color: #D0E4F5;
	background-image: url("http://www.yo-yoo.co.il/rekaim/images/uploads/f38641.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: -5px -5px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
	text-align: center;
}

#menu
{
	position: fixed;
	width: 100%;
	height: 48px;
	float: inline-start;
}
  li {
	float: left;
	border: 5px solid #e7e7e7;
	background-color: #f3f3f3;
	border-right: 10px solid #bbb;
	border-radius: 20px;
	list-style-type: none;
  }
  
  li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li :hover {
	background-color: rgb(218, 122, 158);
	border-radius: 20px;
  }

  li:last-child {
	border-right: none;
  }
